@import "_utils";
@import "./components/button";
@import "./components/toast";
@import "./components/badge";
@import "./components/loading-overlay";
@import "./components/page-items";
@import "./components/card";
@import "./components/modal";
@import "./components/payment-badge";
@import "./components/select";
html,
body {
    font-size: 10px;
    font-family: $main_font;
    box-sizing: border-box;
    overflow-x: hidden;
}
body {
    min-height: 100vh;
}
.h2,
h2 {
    @include fz($fz_lg);
}

.h3,
h3 {
    @include fz($fz_ml);
}

a {
    color: $purple;
}

.page-title {
    margin-top: 42px;
    margin-bottom: 23px;
}

.col {
    flex: 1;
}

.flex-layout {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

