@import "_utils";
@import "./components/button";
@import "./components/toast";
@import "./components/badge";
@import "./components/loading-overlay";
@import "./components/page-items";
@import "./components/card";
@import "./components/modal";
@import "./components/payment-badge";
@import "./components/select";
@import "./components/scroll";
@import "./components/tooltip";

html,
body {
    font-size: 10px;
    font-family: $main_font;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
}

.h2,
h2 {
    @include fz($fz_lg);
}

.h3,
h3 {
    @include fz($fz_ml);
}

a {
    color: $purple;
}

.page-title {
    margin-top: 40px;
    margin-bottom: 23px;
}

b {
    font-weight: $bold;
}

.col {
    flex: 1;
}

.flex-layout {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

.car-number {
    display: inline-flex;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 5px;

    &-num {
        padding: 4px;
        font-weight: 500;
    }

    &-code {
        padding: 4px;
        border-left: 1px solid #333333;
    }
}

.action-icon {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    cursor: pointer;
    transition: $transition;

    &:hover {
        box-shadow: none;
    }
}

.auth-page {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background: $blue_grad;
    min-height: 100vh;
}

.icon-rounded-shadow {
    border-radius: 5px;
    box-shadow: 4px 4px 20px rgba(60, 20, 95, 0.35);
}

.filter-btns {
    &__btn {
        text-transform: none;
        margin-right: 2rem;
        padding: 0.5rem 2rem;

        @include sm {
            margin-top: 1rem;
        }

        &:last-child {
            margin-right: 0;

            @include md {
                margin-left: 0;
            }
        }
    }
}

