.color-purple {
  color: $purple;
}
.color-violet {
  color: $violet;
}
.color-grey-1 {
  color: $grey_1;
}

.color-grey-2 {
  color: $grey_2;
}

.color-grey-3 {
  color: $grey_3;
}
.color-green {
  color: $green;
}
.font-lg {
  font-size: $fz_lg;
}

.font-md {
  font-size: $fz_md;
}

.font-ml {
  font-size: $fz_ml;
}

.font-sm {
  font-size: $fz_sm;
}

.font-xs {
  font-size: $fz_xs;
}

.font-0 {
  font-size: 0;
}

.bold {
  font-weight: $bold;
}

.font-500 {
  font-weight: 500;
}

.cursor-pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.offset-bottom {
  margin-bottom: 1.5rem;
}

.row-no-gutter {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.text-no-wrap {
  white-space: nowrap;
}

$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);
$sides: (top, bottom, left, right);
$bps: (lg, md, sm, xs);

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space/10}rem !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space/10}rem !important;
    }
  }
}



.mt-auto {
  margin-top: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.flex-1 {
  flex: 1;
}

.shrink-0 {
  flex-shrink: 0;
}

.md-hidden {
  @include md {
    display: none !important;
  }
}

.md-show {
  display: none !important;

  @include md {
    display: block !important;
  }
}

.sm-hidden {
  @include sm {
    display: none !important;
  }
}

.sm-show {
  display: none !important;

  @include sm {
    display: block !important;
  }
}