$blue_grad: linear-gradient(254.44deg, #5A13A7 0%, #5D55D0 83.49%);
$red_orange_grad: linear-gradient(87.37deg, #F44879 0%, #FFB801 100%);
$purple: #5A13A7;
$black: #2E2C2C;
$orange: #FFB801;
$blue: #00C9DF;
$wiolet: #8F5BC5;
$violet: #5D55D0;
$grey: #8F8AFF;
$white: #fff;
$white_gray: #F2F2F2;
$pale_purple: #EEEDFF;
$purple_gray: #CECBF8;
$pink_purple: #E6CDFF;
$dark_blue: #6979F8;
$green: #219653;
$red: #EB5757;

$grey_1: #333333;
$grey_3: #828282;

$main_font: "Montserrat", sans-serif;

$bp_lg: 1200px;
$bp_md: 992px;
$bp_sm: 768px;
$bp_xs: 576px;

$fz_xl: 2.8rem;
$fz_lg: 2.4rem;
$fz_ml: 1.8rem;
$fz_md: 1.6rem;
$fz_sm: 1.4rem;
$fz_xs: 1.2rem;
$fz_xxs: 1rem;

$extra: 900;
$bold: 700;
$medium: 500;
$regular: 400;

$transition: .2s;