.btn {
    border-radius: 100px;
    padding: 1rem 4rem;
    text-transform: uppercase;
    transition: $transition;
    color: $grey_1;
    font-size: $fz_xs;
    font-weight: $regular;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    font-family: $main_font;
    outline: none;

    svg {
        fill: currentColor;
    }

    &:hover {
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    }

    &:active,
    &.active {
        box-shadow: none;
    }

    &.no-hover {
        cursor: default;

        &:hover {
            box-shadow: none !important;
        }
    }

    &-orange {
        background: $orange;
    }

    &-purple-grad {
        background: $blue_grad;
        color: $white;
        font-weight: $bold;
    }

    &-grey {
        background: $grey;
        color: $white
    }

    &-orange-grad {
        background: $red_orange_grad;
        color: $white;
        font-weight: $bold;
    }

    &-red {
        background: $red;
        color: $white;
    }

    &-stroke-red {
        background: transparent;
        color: $red;
        border: 1px solid $red;
    }

    &-green {
        background: $green;
        color: $white;
    }

    &-stroke-green {
        background: transparent;
        border: 1px solid $green;
        color: $green;
    }

    &-stroke-orange {
        background: transparent;
        border: 1px solid $orange;

    }

    &-stroke-bold-purple {
        color: $purple;
        background: transparent;
        font-weight: bold!important;
        border: 1px solid $purple;

    }

    &-stroke-purple {
        color: $violet;
        background: transparent;
        border: 1px solid rgba(143, 138, 255, 0.25);

        &:hover {
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
        }

        &.active,
        &:active {
            color: $white;
            background: $grey;
            box-shadow: none;
        }

        &:hover {
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
        }

        &.active,
        &:active {
            color: $white;
            background: $grey;
            box-shadow: none;
        }
    }

    &-stroke-purple-strong {
        color: #5A13A7;
        background: transparent;
        border: 1px solid #5A13A7;
        font-weight: bold;

        &:hover {
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
        }

        &.active,
        &:active {
            color: $white;
            background: #5A13A7;
            box-shadow: none;
        }
    }

    &-sm {
        font-size: $fz_xs;
        padding: 0.6rem 3rem;
        font-weight: $regular;
        border-radius: 100px;
    }

    &-xs {
        font-size: $fz_xxs;
        padding: 0.8rem 2rem;
    }

    &-shadow {
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);

        &:hover {
            box-shadow: none;
        }
    }
}