.custom-select {
    font-family: $main_font;
    font-size: $fz_md;

    .vs__dropdown-toggle {
        border: none;
        border-bottom: 1px solid rgba(90, 19, 167, 0.35);
        border-radius: 0;
        padding-bottom: 1rem;
    }

    .vs__selected {
        color: #000;
        margin-left: 0;
        padding-left: 0;
        max-width: 90%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .vs__search {
        font-family: inherit;
        padding-left: 0;

        &::placeholder {
            color: $grey-3;
        }
    }

    .vs__dropdown-menu {
        background: $white;
        border: 1px solid rgba(90, 19, 167, 0.35);
        padding: 10px 25px;
    }
    .vs__selected-options {
        max-width: calc(100% - 20px);
    }
    .vs__dropdown-option {
        color: $grey_3;
        padding: 13px 0;
        border-bottom: 1px solid rgba(90, 19, 167, 0.35);
        white-space: initial;

        &:last-child {
            border-bottom: none;
        }
    }

    .vs__dropdown-option--highlight {
        background: transparent;
        color: $purple;
    }

    &.select-border {
        &.vs--open {
            .vs__dropdown-toggle {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
        .vs__dropdown-toggle {
            border: 1px solid rgba(143, 138, 255, 0.3);
            border-radius: 10px;
        }
        .vs__dropdown-option--highlight {
            background: rgba(143, 138, 255, 0.3);
            color: $grey_2;
        }
        .vs__dropdown-option {
            padding: 1rem 2rem;
            border-color: rgba(143, 138, 255, 0.3);
            @include sm {
                padding: 1rem 1rem;
            }
        }
        .vs__dropdown-menu {
            background: $white;
            border: 1px solid rgba(143, 138, 255, 0.3);
            padding: 0 0 1rem 0;
        }
        .vs__search {
            margin-top: 1rem;
            padding-left: 2rem;
            &::placeholder {
                font-weight: 500;
            }
            @include sm{
                padding-left: 1rem;
            }
        }
        .vs__selected {
            margin-top: 1rem;
            padding-left: 2rem;
            @include sm {
                padding-left: 1rem;
                text-overflow: ellipsis;
            }
        }
        .vs__actions {
            padding-right: 2rem;
            padding-top: 0.8rem;
            flex-shrink: 0;
            @include sm {
                padding-right: 1rem;
            }
        }
    }

    &.select-default {}
}